{% if page.bookcard == true %}
<div class="zoom mb-3 mt-3 shadow-sm border-success border-top">
<h3 class="p-3 lead"><strong><a href="{{site.data.cardbook.link}}">{{site.data.cardbook.title}}</a></strong></h3>
<img class="img-fluid p-1 lazyload" loading="lazy" width="100%" height="100%" data-src="{{site.data.cardbook.image}}"/>
<p class="text-dark p-1 mt-3">
{{site.data.cardbook.description}}
</p>
<p><a href="{{site.data.cardbook.link}}" 
class="btn col-12 mt-3 mb-3 bg-green btn-outline-success" 
style="border-radius:0;">{{site.data.cardbook.button}}</a></p>
</div>
{% endif %}