@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap');
html,body {font-family: 'Titillium Web', sans-serif; font-size: 18px;}
.black {background-color: black; color:white;}
.nav-item:hover {background-color: #8ebe30; color:white;}
.ser {border-radius: 5px;}
.sers {border-radius: 5px;}
a {color: #15BA29; text-decoration:none;}
.btn-greens:hover {background-color: #8ebe30; font-size:18px; padding: 18px;}
.btn-greens {border: solid 1px #8ebe30; font-size:18px; color:white; padding: 18px;}
.btn-greens-mail:hover {background-color: #8ebe30; font-size:18px;}
.btn-greens-mail {border: solid 1px #8ebe30; font-size:18px; color:white;}
.btn-greenos {background-color: #15BA29; font-size:18px; color:white; padding: 18px;}
.btn-greenos:hover {background-color: #149F25; font-size:18px; color:white; padding: 18px;}
.btn-greenoss {background-color: #15BA29; font-size:18px; color:white; padding: 8px;}
.btn-greenoss:hover {background-color: #149F25; font-size:18px; color:white; padding: 8px;}
.btn-greenns:hover {background-color: #8ebe30; font-size:18px; padding: 18px;}
.btn-greenns {border: solid 1px #8ebe30; font-size:18px; color:white; padding: 18px;}
.text-green {color: #149F25;}
.bot-center {border-bottom: 2px solid #8ebe30; margin: auto;}
.bot-top {border-top: 2px solid #15BA29;}
.bot {border-bottom: 2px solid #15BA29;}
.hr-green {color: #15BA29; border-style: solid; border-width: 2px;}
.hr-green-center {color: #7EF96A; border-style: solid; border-width: 2px; margin: auto;}
.bg-green {background-color: #149F25; color:white;}
.bg-greens {background-color: #15BA29; color:white;}
.slu:hover {background-color: #8ebe30;}
.header {
background-image: url('bgqt.webp');
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
color:white;
height: 490px;
}
.bgs {
background-image: url('bgs.webp');
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
color:white;
}
.bgs2 {
background-image: url('bgs2.webp');
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
color:white;
}
.bgs3 {
background-image: url('bgs3.webp');
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
color:white;
}
.bgw {
background-image: url('bg.svg');
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
}
.mail {
background-image: url('mail.webp');
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
}
.intro {margin-top: 160px;}
.nav-link {color:white;}
.navis {background-image: url('https://www.learnqt.guide/images/header_qt.jpg'); height: 55px;}
.nav-item {border-bottom: solid black 1px;}
.img-cards {border-radius: 5px 5px 0 0;}
.form-control::placeholder,.form-control:focus {background-color: black; color:white; border:none; border-bottom: solid 1px #8ebe30 ;}
.form-control::placeholder,.form-control {background-color: black; color:white; border:none;border-bottom: solid 1px #8ebe30;}
.zoom:hover { transform: scale(1.05) } .zoom {transition: transform 0.6s;}
pre,code {background-color: black; color:white; padding: 10px;}
.promosi{
background-image: url('bgs3.webp');
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
}
.bookabout {
background-image: url('bookabout.webp');
background-repeat: no-repeat;
background-position: center; 
background-size: cover;
}
.cdt:hover {
background-color: black; 
color: white;
}
.dtl:hover {
background-color: #15BA29; 
color: white; 
padding: 8px;
transition: 0.8s;
border-radius: 0 0  60px 0;
  }
a.xp-link {
color: black; 
  }
.xp-link:hover {
color: white; 
  }  
.xp:hover {
background-color: #15BA29; 
color: white; 
padding: 8px;
transition: 0.8s;
  }  
.cs:hover {background-color: #15BA29; color:white;}
.form-contact {
border-radius: 0px;
background-color: white;
color: black;
}